%h2.title
  = t("web-app-theme.all", :default => @title)
.inner
  %table.table
    %tr
      %th.first
        = t("Class")
      %th
        = t("Model")
      %th
        = t("Parent")
    - @cim_classes.each do |c|
      %tr{:class => cycle("odd", "even")}
        %td
          = link_to c.name, cim_class_path(c)
        %td
          = c.cim_model.name rescue ""
        %td
          - parent = c.parent
          - if parent
            = link_to parent.name, cim_class_path(parent)

  .actions-bar.wat-cf
    .actions
    = paginate @cim_classes
