.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", connections_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_connection_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Connections
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.connection.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th
            = t("activerecord.attributes.connection.host", :default => t("activerecord.labels.host", :default => "Host"))
          %th
            = t("activerecord.attributes.connection.login", :default => t("activerecord.labels.login", :default => "Login"))
          %th
            = t("activerecord.attributes.connection.protocol", :default => t("activerecord.labels.protocol", :default => "Protocol"))
          %th
            = t("activerecord.attributes.connection.secure", :default => t("activerecord.labels.secure", :default => "SSL?"))
          %th
            = t("activerecord.attributes.connection.port", :default => t("activerecord.labels.port", :default => "Port"))
          %th
            = t("activerecord.attributes.connection.path", :default => t("activerecord.labels.path", :default => "Path"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @connections.each do |connection|
          %tr{:class => cycle("odd", "even")}
            %td
              = connection.id
            %td
              = link_to connection.name, connection_path(connection)
            %td
              = link_to connection.host, host_path(connection.host)
            %td
              = connection.login
            %td
              = connection.protocol
            %td
              = connection.secure
            %td
              = connection.port
            %td
              = connection.path
            %td
              = connection.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", connection_path(connection)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_connection_path(connection)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", connection_path(connection), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = will_paginate @connections
- content_for :r_sidebar, render(:partial => 'sidebar')
