.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", connections_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_connection_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", connection_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.connection.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @connection.name
      %p
        %b
          = t("activerecord.attributes.connection.host", :default => t("activerecord.labels.host", :default => "Host"))
          \:
        = Host.find(@connection.host).name rescue "**ERR**"
      %p
        %b
          = t("activerecord.attributes.connection.login", :default => t("activerecord.labels.login", :default => "Login"))
          \:
        = @connection.login
      %p
        %b
          = t("activerecord.attributes.connection.secure", :default => t("activerecord.labels.secure", :default => "Secure"))
          \:
        = @connection.secure
      %p
        %b
          = t("activerecord.attributes.connection.port", :default => t("activerecord.labels.port", :default => "Port"))
          \:
        = @connection.port
      %p
        %b
          = t("activerecord.attributes.connection.path", :default => t("activerecord.labels.path", :default => "Path"))
          \:
        = @connection.path
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_connection_path(@connection), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), connection_path(@connection), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
