.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", hosts_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_host_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", host_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.host.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @host.name
      %p
        %b
          = t("activerecord.attributes.host.fqdn", :default => t("activerecord.labels.fqdn", :default => "Fqdn"))
          \:
        = @host.fqdn
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_host_path(@host), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), host_path(@host), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :r_sidebar, render(:partial => 'sidebar')
