.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", clients_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_client_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", client_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.client.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @client.name
      %p
        %b
          = t("activerecord.attributes.client.protocol", :default => t("activerecord.labels.protocol", :default => "Protocol"))
          \:
        = @client.protocol
      %p
        %b
          = t("activerecord.attributes.client.host", :default => t("activerecord.labels.host", :default => "Host"))
          \:
        = @client.host
      %p
        %b
          = t("activerecord.attributes.client.login", :default => t("activerecord.labels.login", :default => "Login"))
          \:
        = @client.login
      %p
        %b
          = t("activerecord.attributes.client.auth_scheme", :default => t("activerecord.labels.auth_scheme", :default => "Authentication scheme"))
          \:
        = @client.auth_scheme
      %p
        %b
          = t("activerecord.attributes.client.secure", :default => t("activerecord.labels.secure", :default => "Secure"))
          \:
        = @client.secure
      %p
        %b
          = t("activerecord.attributes.client.port", :default => t("activerecord.labels.port", :default => "Port"))
          \:
        = @client.port
      %p
        %b
          = t("activerecord.attributes.client.path", :default => t("activerecord.labels.path", :default => "Path"))
          \:
        = @client.path
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_client_path(@client), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), client_path(@client), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
