#view.block
  .secondary-navigation
    %ul.wat-cf
      %li.first{:class=>(@mode=="list"?"active":"")}= link_to "#{t("web-app-theme.list", :default => "List")}", classnames_path(:ns=>@ns, :mode => :list)
      %li{:class=>(@mode=="tree"?"active":"")}= link_to "#{t("web-app-theme.new", :default => "Tree")}", classnames_path(:ns=>@ns, :mode => :tree)
      %li{:class=>(@mode=="graph"?"active":"")}= link_to "#{t("web-app-theme.new", :default => "Graph")}", classnames_path(:ns=>@ns, :mode => :graph)
  .content
    - case @mode
    - when "list"
      = render :partial => "index_list"
    - when "tree"
      = render :partial => "index_tree"
    - when "graph"
      = render :partial => "index_graph"
