%h2.title
  = t("web-app-theme.all", :default => @title)
.inner
  - first = @names.first
  - keys = []
  - if first
    - keys = first.keys

  %table.table
    %tr
      - keys.each do |k|
        %th= k
    - @names.each do |name|
      %tr{:class => cycle("odd", "even")}
        - first_key = true
        - keys.each do |k|
          - value = name.send(k.to_sym)
          - if first_key
            - first_key = false
            %td= link_to(value, controller: "instances", action: "show", id: "_epr", epr: name.to_s)
          - else
            %td= value

  .actions-bar.wat-cf
    .actions
    = paginate @names
