!!!
%html
  %head
    %title= @title
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tag
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"

    - if @head_partial
      = render :partial => "#{@head_partial}"

    - if @more_stylesheets
      - @more_stylesheets.each do |stylesheet|
        = stylesheet_link_tag "#{stylesheet}"

    - if @more_javascripts
      - @more_javascripts.each do |javascript|
        = javascript_include_tag "#{javascript}"

    = javascript_include_tag "debug"
    = javascript_include_tag "tooltip"
    
    - if @my_script
      %script "#{@my_script}"

    - @nav = [ { :name => "home", :path => home_path },
        { :name => "connections", :path => connections_path },
        { :name => "hosts", :path => hosts_path },
        { :name => "users", :path => users_path },
        { :name => "intro", :path => intro_path },
        { :name => "about", :path => about_path, :last => true } ]



  %body.bp.wbem-explorer
    %div#container
      %div#header
        =render :partial => 'layouts/header'

      %div#left-sidebar
        =render :partial => 'layouts/left-sidebar'

      %div#content
        - if flash[:notice]
          %div#notice.fade = flash[:notice]
        - if flash[:alert]
          %div#alert.fade = flash[:alert]
        =render :partial => 'layouts/content'
                
      %div#right-sidebar
        =render :partial => 'layouts/right-sidebar'

      %div#footer © All your copyright information here.
