!!!
%html
  %head
    %title= @title
    = stylesheet_link_tag 'wbem_explorer'
    = javascript_include_tag 'wbem_explorer'
    = csrf_meta_tag
    - if @head_partial
      = render :partial => "#{@head_partial}"

    - if @more_stylesheets
      - @more_stylesheets.each do |stylesheet|
        = stylesheet_link_tag "#{stylesheet}"
    - if @my_style
      = stylesheet_link_tag "#{@my_style}"

    - if @more_javascripts
      - @more_javascripts.each do |javascript|
        = javascript_include_tag "#{javascript}"

    = javascript_include_tag "debug"
    = javascript_include_tag "tooltip"
    
    - if @my_script
      = javascript_include_tag "#{@my_script}"


  %body
    #container
      #header
        =render :partial => 'layouts/header'

        #main-navigation
          %ul.wat-cf
            %li{ :class => (params[:controller] == "home" ? "first active" : "first") }
              = link_to "Home", root_path
            %li{ :class => (params[:controller] == "hosts" ? "active" : nil) }
              = link_to "Hosts", hosts_path
            %li{ :class => (params[:controller] == "users" ? "active" : nil) }
              = link_to "Users", users_path
            %li{ :class => (params[:controller] == "connections" ? "active" : nil) }
              = link_to "Connections", connections_path

        #user-navigation
          %ul.wat-cf
            %li
              %a{:href => "#"}= t("web-app-theme.profile", :default => "Profile")
            %li
              %a{:href => "#"}= t("web-app-theme.settings", :default => "Settings")
            %li
              %a.logout{:href => "/logout"}= t("web-app-theme.logout", :default => "Logout")

      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message

        #l_sidebar
          =render(:partial => 'left-sidebar')

        #main
          #view
            =yield
          #footer
            .block
              =render :partial => 'layouts/footer'

        #r_sidebar.sidebar
          = yield :r_sidebar
