!!!
%html
  %head
    %title= @title
    = stylesheet_link_tag 'wbem_explorer'
    = javascript_include_tag 'wbem_explorer'
    = csrf_meta_tag
    - if @head_partial
      = render :partial => "#{@head_partial}"

    - if @more_stylesheets
      - @more_stylesheets.each do |stylesheet|
        = stylesheet_link_tag "#{stylesheet}"

    - if @more_javascripts
      - @more_javascripts.each do |javascript|
        = javascript_include_tag "#{javascript}"

    = javascript_include_tag "debug"
    = javascript_include_tag "tooltip"
    
    - if @my_script
      %script "#{@my_script}"

    - @nav = [ { :name => "home", :path => home_path },
        { :name => "connections", :path => connections_path },
        { :name => "hosts", :path => hosts_path },
        { :name => "users", :path => users_path },
        { :name => "intro", :path => intro_path },
        { :name => "about", :path => about_path, :last => true } ]


  %body
    #container
      #header
        =render :partial => 'layouts/header'

        #user-navigation
          %ul.wat-cf
            %li
              %a{:href => "#"}= t("web-app-theme.profile", :default => "Profile")
            %li
              %a{:href => "#"}= t("web-app-theme.settings", :default => "Settings")
            %li
              %a.logout{:href => "/logout"}= t("web-app-theme.logout", :default => "Logout")
        #main-navigation
          %ul.wat-cf

      %div#left-sidebar
        =render :partial => 'layouts/left-sidebar'

      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          =render :partial => 'layouts/content'
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} Web App.
        #sidebar
          = yield :sidebar

      %div#right-sidebar
        =render :partial => 'layouts/right-sidebar'

      %div#footer
        =render :partial => 'layouts/footer'
